{% extends 'website/base_website.html' %}

{% block tittle_tab %}
    Contacto
{% endblock %}
{% block contenido %}
    <div class="row">
        <div class="col">
            <h1>Contactanos</h1>
            <form action="">
                <label for="">Correo Electronico</label>
                <input type="email" class="form-control">
                <label for="">Mensaje</label>
                <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                <input type="submit" class="btn btn-primary">
            </form>
        </div>
    </div>
{% endblock %}