{% extends 'website/base_website.html' %}

{% block tittle_tab %}
    Python Basico - CURSOS
{% endblock %}

{% block contenido %}
    <div class="row py-5">
        <div class="col">
            <h1>Cursos activos</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>Python Basico</h1>
            <p>Abierto</p>
            <p>Programación</p>
            <img src="https://via.placeholder.com/250x200" class="img-fluid" alt="...">
            <p>Gustavo Jimenez</p>
            <p>$450</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias asperiores aspernatur at
                corporis facere fugiat maxime minima odit quaerat recusandae repellat sunt suscipit vitae, voluptatem.
                Dolorum labore libero praesentium!
            </p>
            <p>

                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum id officia perspiciatis quis vero?
                Architecto assumenda consequatur dolor dolorum ducimus eius eos fugiat, illum laborum maxime mollitia,
                officiis repellendus voluptatem.
            </p>
            <a href="{% url 'website:inscripcion_curso' %}" class="btn btn-primary">Inscribirme</a>
        </div>
    </div>
{% endblock %}