{% extends 'website/base_website.html' %}

{% block tittle_tab %}
    Inicio
{% endblock %}

{% block contenido %}
    <div class="row py-5">
        {% if request.user.is_authenticated %}
            <div class="col">
                <p>Hola {{ request.user }}</p>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col">
            <h1>Cursos activos</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://via.placeholder.com/150x100" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Python Basico</h5>
                    <p class="card-text">Gustavo Jimenez</p>
                    <p class="card-text">$450</p>
                    <a href="{% url 'website:detalle_curso' 254 %}" class="btn btn-primary">Detalles</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}