{% extends 'website/base_website.html' %}

{% block tittle_tab %}
    Inscripcion Python Basico - CURSOS
{% endblock %}

{% block contenido %}
    <div class="row py-5">
        <div class="col">
            <h1>Cursos activos</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form action="">
                <table class="table">
                    {{ form.as_table }}
                    <tr>
                        <td colspan="2">
                            <input type="submit" class="btn btn-outline-primary">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
{% endblock %}