{% extends 'website/base_website.html' %}

{% block tittle_tab %}
    Quienes somos
{% endblock %}
{% block contenido %}
    <div class="row">
        <div class="col">
            <h1>Quienes somos</h1>
            <img src="https://via.placeholder.com/800x300" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aspernatur dignissimos in iusto odio
                recusandae rem, tempora totam! Non, sunt, veniam? Asperiores fugit iste itaque molestias officia
                possimus qui! Excepturi!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aspernatur dignissimos in iusto odio
                recusandae rem, tempora totam! Non, sunt, veniam? Asperiores fugit iste itaque molestias officia
                possimus qui! Excepturi!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aspernatur dignissimos in iusto odio
                recusandae rem, tempora totam! Non, sunt, veniam? Asperiores fugit iste itaque molestias officia
                possimus qui! Excepturi!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aspernatur dignissimos in iusto odio
                recusandae rem, tempora totam! Non, sunt, veniam? Asperiores fugit iste itaque molestias officia
                possimus qui! Excepturi!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aspernatur dignissimos in iusto odio
                recusandae rem, tempora totam! Non, sunt, veniam? Asperiores fugit iste itaque molestias officia
                possimus qui! Excepturi!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aspernatur dignissimos in iusto odio
                recusandae rem, tempora totam! Non, sunt, veniam? Asperiores fugit iste itaque molestias officia
                possimus qui! Excepturi!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aspernatur
                dignissimos in iusto odio
                recusandae rem, tempora totam! Non, sunt, veniam? Asperiores fugit iste itaque molestias officia
                possimus qui! Excepturi!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aspernatur
                dignissimos in iusto odio
                recusandae rem, tempora totam! Non, sunt, veniam? Asperiores fugit iste itaque molestias officia
                possimus qui! Excepturi!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aspernatur
                dignissimos in iusto odio
                recusandae rem, tempora totam! Non, sunt, veniam? Asperiores fugit iste itaque molestias officia
                possimus qui! Excepturi!


            </p>
        </div>
    </div>
{% endblock %}