{% extends 'website/base_website.html' %}

{% block tittle_tab %}
    Iniciar sesión
{% endblock %}

{% block contenido %}
    <h1>Iniciar Sesion</h1>

    <div class="row">
        <div class="col">
            {% if form.errors %}
                <p>Usuario o contraseña incorrectos</p>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                    <p>Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.</p>
                {% else %}
                    <p>Please login to see this page.</p>
                {% endif %}
            {% endif %}

            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
                    </tr>
                </table>

                <input type="submit" value="Aceptar" class="btn btn-outline-primary">
                <input type="hidden" name="next" value="{{ next }}">
            </form>

            {# Assumes you set up the password_reset view in your URLconf #}
            <p><a href="{% url 'password_reset' %}">¿Olvidó su contraseña?</a></p>
        </div>
    </div>
{% endblock %}