{% extends 'website/base_website.html' %}
{% block tittle_tab %}
    Registro
{% endblock %}
{% block contenido %}
    <div class="row">
        <div class="col">
            <form method="post">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="Aceptar" class="btn btn-outline-primary">

                        </td>
                    </tr>
                </table>

            </form>
        </div>
    </div>
{% endblock %}