{% extends 'dashboard/base_dashboard.html' %}

{% block contenido %}
    <div class="row">
        <div class="col"$>
            <h1>cursos</h1>
            <a href="#">Nuevo Curso</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Curso</th>
                        <th>Estatus</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}