{% load static %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block tittle_tab %}
        {% endblock %}
    </title>
    <link href="{% static 'bs522/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'fa/all.min.css' %}" rel="stylesheet">
</head>
<body>
{% block navbar %}

{% endblock %}
<div class="container">
    {% block contenido %}
    {% endblock %}
</div>
<script src="{% static 'bs522/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'fa/all.min.js' %}"></script>
</body>
</html>