{% extends 'website/base_website.html' %}

{% block tittle_tab %}
    Mi perfil
{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-">
            <h1>Mi Peril </h1>
            <form method="post">

                <div class="row">
                    <div class="col">
                        <label for="">Nombre</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="col">
                        <label for="">Apellidos</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col">
                        <label for="">telefono</label>
                        <input type="tel" class="form-control">
                    </div>

                    <div class="col">
                        <label for="">Correo</label>
                        <input type="email" class="form-control">
                    </div>
                    <div class="col">
                        <input type="submit" class="btn btn-primary">
                    </div>
                </div>

            </form>
            <a href="#">Cambiar contraseña</a>
        </div>
    </div>
{% endblock %}

